body{background-color:#9B4338}


header{background-color: #AA8540;
color: white;
border-radius: 20px;
padding: 20px;}

h1{background-color:#A3613B;
width: 40%;
height: 40px;
border-radius: 20px;
padding: 20px;
margin: 0 30%;
text-align:center;}


main{background-color: #b4b047;}